@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
.table-data {
  font-size: 20px;
}

.rt {
  color: #0f185d;
}

.ft {
  color: #0f185d;
  font-weight: 800;
  width: 117px;
}

.text-input {
  height: 30px;
  width: 100px;
  font-size: 14px;
  border: 1px solid gainsboro;
}

body {
  font-family: "Open Sans";
}

body .wrapper {
  background-color: #0f185d;
  padding: 10px;
}

body .wrapper h1 {
  margin: 0px;
  margin-left: 80px;
  color: #fff;
  font-size: 45px;
  font-weight: 900;
}

body .heading {
  padding: 10px;
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 1024px) {
  body .heading {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

body .heading .text-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(213px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(213px, 1fr));
}

@media screen and (max-width: 1300px) {
  body .heading .text-wrap {
    -ms-grid-columns: (minmax(168px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
  }
}

@media screen and (max-width: 1186px) and (min-width: 1024px) {
  body .heading .text-wrap {
    -ms-grid-columns: (minmax(134px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(134px, 1fr));
  }
}

@media screen and (max-width: 1460px) and (min-width: 1300px) {
  body .heading .text-wrap {
    -ms-grid-columns: (minmax(179px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(179px, 1fr));
  }
}

@media screen and (min-width: 1623px) {
  body .heading .text-wrap {
    -ms-grid-columns: (minmax(1fr, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
  }
}

body .heading h1 {
  font-weight: bold;
}

body .heading label {
  justify-items: center;
}

body .heading input {
  justify-items: center;
}

body .heading img {
  border-radius: 10px;
  float: right;
}

@media screen and (max-width: 925px) {
  body .heading img {
    float: none;
    margin-top: 10px;
  }
}

body .backg {
  border-radius: 17px;
  -webkit-box-shadow: -1px 0px 22px -12px #b3aeb3;
  box-shadow: -1px 0px 22px -12px #b3aeb3;
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 27px;
  padding-top: 27px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(245px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
}

@media screen and (max-width: 420px) {
  body .backg {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
  }
}

body .container {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 10px;
  width: auto;
}

body .transaction-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 1fr;
      grid-template-columns: 0.5fr 1fr;
  margin-right: 85px;
  margin-left: 25px;
}

@media screen and (max-width: 1200px) {
  body .transaction-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 400px) {
  body .transaction-wrapper {
    margin: 0px;
  }
}

body .transaction-wrapper .verticleBlock {
  margin-left: 80px;
  background-color: #e7ebee;
  border-radius: 17px;
  padding: 25px;
  margin-bottom: 40px;
  margin-right: 80px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 80px;
}

body .transaction-wrapper .verticleBlock table tr th {
  text-align: left;
  border: none;
  padding: 0px;
  padding-right: 60px;
}

@media screen and (max-width: 370px) {
  body .transaction-wrapper .verticleBlock table tr th {
    padding-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  body .transaction-wrapper .detailsBlock {
    margin-left: 55px;
    margin-right: 13px;
  }
}

body .transaction-wrapper .verticleBlock table tr td {
  float: right;
  white-space: nowrap;
  padding: 0px;
  border: none;
}

body .transaction-wrapper .verticleBlock table tr td .mr {
  margin-right: 45px;
}

body .transaction-wrapper .verticleBlock table tr td label {
  margin-left: 10px;
}

body .transaction-wrapper .verticleBlock table tr td input {
  margin-right: 21px;
}

body .transaction-wrapper .space-between {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .transaction-wrapper .table {
  border-collapse: separate;
  border-spacing: 0 22px;
  border-top: none;
  margin-bottom: 0px;
}

body .transaction-wrapper .table caption {
  caption-side: top;
  font-size: 30px;
  color: black;
  font-weight: bold;
  margin-top: 58px;
}

body .transaction-wrapper .table .color-green {
  color: green;
}

body .transaction-wrapper .table .color-orange {
  color: orange;
  white-space: nowrap;
}

body .transaction-wrapper .table table tr th {
  text-align: left;
  padding: none;
  border: none;
}

body .transaction-wrapper .table table tr td {
  padding: 14px;
  border: none;
}

body .transaction-wrapper .table .table-data {
  -webkit-box-shadow: -1px 0px 22px -12px #b3aeb3;
  box-shadow: -1px 0px 22px -12px #b3aeb3;
}

body .transaction-wrapper .table .ft {
  font-size: 20px;
}

body .transaction-wrapper .table h3 {
  margin-left: 12px;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  body .transaction-wrapper .table {
    margin-right: 13px;
  }
}
/*# sourceMappingURL=style.css.map */