@import "./styles/atomic";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
body {
  font-family: "Open Sans";
  .wrapper {
    background-color: #0f185d;
    padding: 10px;
    h1 {
      margin: 0px;
      margin-left: 80px;
      color: #fff;
      font-size: 45px;
      font-weight: 900;
    }
  }
  .heading {
    padding: 10px;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;
    display: grid;
    @media screen and (min-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }
    .text-wrap {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(213px, 1fr));
      @media screen and (max-width: 1300px) {
        grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
      }
      @media screen and (max-width: 1186px) and (min-width: 1024px) {
        grid-template-columns: repeat(auto-fill, minmax(134px, 1fr));
      }
      @media screen and (max-width: 1460px) and (min-width: 1300px) {
        grid-template-columns: repeat(auto-fill, minmax(179px, 1fr));
      }
      @media screen and (min-width: 1623px) {
        grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
      }
    }
    h1 {
      font-weight: bold;
    }

    label {
      justify-items: center;
    }

    input {
      justify-items: center;
    }

    img {
      border-radius: 10px;
      float: right;
      @media screen and (max-width: 925px) {
        float: none;
        margin-top: 10px;
      }
    }
  }
  .backg {
    border-radius: 17px;
    -webkit-box-shadow: -1px 0px 22px -12px rgb(179, 174, 179);
    -moz-box-shadow: -1px 0px 22px -12px rgb(179, 174, 179);
    box-shadow: -1px 0px 22px -12px rgb(179, 174, 179);
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 27px;
    padding-top: 27px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    @media screen and (max-width: 420px) {
      width: max-content;
      margin: 0 auto;
    }
  }

  .container {
    display: grid;
    grid-row-gap: 10px;
    width: auto;
  }
  .transaction-wrapper {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin-right: 85px;
    margin-left: 25px;
    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
      align-items: center;
    }
    @media screen and (max-width: 400px) {
      margin: 0px;
    }
    .verticleBlock {
      margin-left: 80px;
      background-color: #e7ebee;
      border-radius: 17px;
      padding: 25px;
      margin-bottom: 40px;
      margin-right: 80px;
      width: fit-content;
      margin: 0 auto;
      margin-top: 80px;
    }
    .verticleBlock table tr th {
      text-align: left;
      border: none;
      padding: 0px;
      padding-right: 60px;
      @media screen and (max-width: 370px) {
        padding-right: 0px;
      }
    }

    @media screen and (min-width: 1200px) {
      .detailsBlock {
        margin-left: 55px;
        margin-right: 13px;
      }
    }
    .verticleBlock table tr td {
      float: right;
      white-space: nowrap;
      padding: 0px;
      .mr {
        margin-right: 45px;
      }
      label {
        margin-left: 10px;
      }
      input {
        margin-right: 21px;
      }

      border: none;
    }
    .space-between {
      justify-content: center;
    }
    .table {
      border-collapse: separate;
      border-spacing: 0 22px;
      border-top: none;
      margin-bottom: 0px;
      caption {
        caption-side: top;
        font-size: 30px;
        color: black;
        font-weight: bold;
        margin-top: 58px;
      }
      .color-green {
        color: green;
      }

      .color-orange {
        color: orange;
        white-space: nowrap;
      }

      table tr th {
        text-align: left;
        padding: none;
        border: none;
      }

      table tr td {
        padding: 14px;
        border: none;
      }

      .table-data {
        -webkit-box-shadow: -1px 0px 22px -12px rgb(179, 174, 179);
        -moz-box-shadow: -1px 0px 22px -12px rgb(179, 174, 179);
        box-shadow: -1px 0px 22px -12px rgb(179, 174, 179);
      }

      .ft {
        font-size: 20px;
      }
      h3 {
        margin-left: 12px;
        font-weight: bold;
      }
      @media screen and (max-width: 1200px) {
        margin-right: 13px;
      }
    }
  }
}